<div class="content">
    @Html.Partial("~/Views/Shared/_PFSN.cshtml")
    
    <div id="pad-wrapper" class="less-padding">
        <div class="panel-group">
            <div class="panel panel-default details">
                <div class="panel-heading">
                    <h4 class="panel-title">Overview
                    </h4>
                </div>
                <div class="panel-collapsed">
                    <div class="panel-body no-padding">
                        <div class="table-wrapper padding-left-15 padding-right-15 small-margin-bottom products-table section">
                            <div class="row">
                                <table id="overview" class="table table-hover no-padding-bottom">
                                    <thead>
                                        <tr>
                                            <th class="col-md-2"><span style="padding-top: 5px">AREA</span>
                                            </th>
                                            <th class="col-md-2">
                                                <span class="line"></span>SECTION
                                            </th>
                                            <th class="col-md-3">
                                                <span class="line"></span>PAGE
                                            </th>
                                            <th class="col-md-1">
                                                <span class="line"></span>CRITICALITY
                                            </th>
                                            <th class="col-md-1 text-right">
                                                <span class="line"></span>
                                                                              <button type="button" class="btn btn-xs btn-success"><i class="icon-ok"></i></button>
                                                                              PASS
                                            </th>
                                            <th class="col-md-1 text-right">
                                                <span class="line"></span>
                                                                              <button type="button" class="btn btn-xs btn-danger"><i class="icon-remove"></i></button>
                                                                              FAIL
                                            </th>
                                            <th class="col-md-1 text-right">
                                                <span class="line"></span>
                                                                              <button type="button" class="btn btn-xs btn-warning"><i class="icon-asterisk"></i></button>
                                                                              SKIP
                                            </th>
                                            <th class="col-md-1 text-right">
                                                <span class="line"></span>
                                                                              <button type="button" class="btn btn-xs"><i class="icon-ban-circle"></i></button>
                                                                              NONE
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var caseSummary in ViewBag.CaseSummaries)
                                        {
                                            <tr class="overview-row" data-caseId="@caseSummary.CaseId">
                                                <td>
                                                    @caseSummary.Area
                                                </td>
                                                <td>
                                                    @caseSummary.Section
                                                </td>
                                                <td>
                                                    @caseSummary.Name
                                                </td>
                                                <td>
                                                    @caseSummary.Criticality
                                                </td>
                                                <td class='text-right-padded'>
                                                    @caseSummary.Pass
                                                </td>
                                                <td class='text-right-padded'>
                                                    @caseSummary.Fail
                                                </td>
                                                <td class='text-right-padded'>
                                                    @caseSummary.Skip
                                                </td>
                                                <td class='text-right-padded'>
                                                    @caseSummary.None
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#overview").dataTable({
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                "order": [[6, 'asc']],
                "displayLength": 25,
                "initComplete": function (settings, json) {
                    $(".overview-row").click(function () {
                        var caseId = $(this).data("caseid");
                        window.location.href = "/Case/Index/" + caseId;
                    });
                }
            });
            
            $('#overview').on('draw.dt', function () {
                $(".overview-row").click(function () {
                    var caseId = $(this).data("caseid");
                    window.location.href = "/Case/Index/" + caseId;
                });
            });
        });
    </script>
}